<div class="animated fadeIn">

	<div   class="flex-container" class="search-div" >
		<button routerLink="../../"
				mat-raised-button >Retour</button>

		<button *ngIf="this.role.includes('ROLE_TEACHER')" style="margin-left:85%" mat-raised-button (click)="addCours()">
			<mat-icon> add</mat-icon>
			Créer un  cours
		</button>

	</div>

	<div class="row" style="margin-top:2%" >
	<div class="col-sm-4" *ngFor="let c of cours" >
		<kt-material-preview [viewItem]="exampleCardWithTitle" >
			<mat-card routerLink="{{c.idCourse}}/posts/">
				<mat-card-header>
					<div mat-card-avatar class="example-header-image"></div>
					<mat-card-title>Cours: {{c.courseName}}</mat-card-title>
					<mat-card-subtitle>Matiere: {{c.subjectName}}</mat-card-subtitle>
				</mat-card-header>
				<mat-card-content *ngIf="this.role.includes('ROLE_TEACHER')">	<a  (click)="edit(c) " class="float" style="
          position: absolute;
          width: 30px;
          height: 30px;
          bottom: 50px;
          right: -10px;
          background-color:#0C9;
          color:#FFF;
          border-radius:50px;
          text-align:center;
          box-shadow: 2px 2px 3px #999;
      ">
					<i class="fa fa-edit my-float" style="
          margin-top: 10px;
          margin-left: 5px;
      "></i>
				</a></mat-card-content>
			</mat-card>
			<div class="kt-separator kt-separator--dashed"></div>
			<mat-card-footer>
				<div class="row">
					<div class="col-md-12">
						<mat-icon   style="margin-left:50%;" matBadge="" ng-model="rdv" matBadgeColor="warn"  >insert_invitation</mat-icon>
						<mat-icon *ngIf="!this.role.includes('ROLE_PARENT')" (click)="inviteUser(c.idCourse) ">person_add</mat-icon>
						<mat-icon *ngIf="this.role.includes('ROLE_ADMIN')" (click)="delete(c.idCourse)">delete</mat-icon>
						<mat-icon  (click)="showDialog()">movie</mat-icon>
						<mat-icon  (click)="showDialogPdf()">picture_as_pdf</mat-icon>
						<mat-icon  (click)="startVideo()">live_tv</mat-icon>
					</div>
				</div>

				</mat-card-footer>
			</kt-material-preview>
		</div>
	</div>
</div>

<p-dialog header="" [(visible)]="display" [style]="{width: '65vw', height: '85vh'}">
	<iframe id="video" style="height: 75vh !important; width: 100% !important" src="https://www.youtube.com/embed/0p52PSpC8g0" frameborder="0" allowfullscreen>
	</iframe>
</p-dialog>

<p-dialog header="" [(visible)]="displayPdf" [style]="{width: '65vw', height: '90vh'}">
	<pdf-viewer [src]="pdfSrc"
				[render-text]="true"
				style="display: block;"
	></pdf-viewer>
</p-dialog>

<p-dialog header="" [(visible)]="displayVideo" [style]="{width: '65vw', height: '90vh'}">
	<div class="row">
		<div class="col-md-1">
			<button mat-raised-button (click)="shareScreen()">
				<mat-icon>screen_share</mat-icon>
			</button>
		</div>
	</div>
	<live-course></live-course>
</p-dialog>




