.flex-container {
	display: inline;

}
.example-card {
	max-width: 400px;
}
.example-header-image {
	background-image: url('../../../assets/Psychology.jpg');
	background-size: cover;
}

::ng-deep .mydialog {
	width: 70vw;
	height: 70vh !important;
}

@media screen and (max-width: 40em) {
	.mydialog {
		width: 75vw;
		height: 80vh;
	}
}



.local {
	position: fixed;
	right: 1rem;
	bottom: 1rem;
	width: 20vw;
	height: 20vh;
	border-radius: 5px;
	overflow: hidden;
	z-index: 1;
}

.remote {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

.local {
	position: fixed;
	right: 1rem;
	bottom: 1rem;
	width: 20vw;
	height: 20vh;
	border-radius: 5px;
	overflow: hidden;
	z-index: 1;
}

.remote {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}