
<kt-portlet>
    <!-- PORTLET LOADING | Binded to TABLE Datasource -->
    <!-- See prop => '~/core/_crud/models/data-sources/_base.datasource.ts' (loading$) -->
    <kt-portlet-header [title]="'Liste des emplois'" [class]="'kt-portlet__head--lg'">

        <ng-container *ngIf="!this.role.includes('ROLE_STUDENT') && !this.role.includes('ROLE_PARENT')"  ktPortletTools>
            <button  mat-raised-button (click)="addEmploi()" color="primary" type="button">
                <span>Nouveau Emploi</span>
            </button>
            <!-- Buttons (Material Angular) | See off.documenations 'https://material.angular.io/components/button/overview' -->
            <!-- mat-raised-button | Rectangular contained button w/ elevation  -->
        </ng-container>
    </kt-portlet-header>
    <!-- end::Header -->

    <kt-portlet-body>
        <div class="mat-table__wrapper">
            <mat-table class="lmat-elevation-z8"
                       #table
                       [dataSource]="listData"
                       matSort>

                <ng-container matColumnDef="groupe">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Groupe</mat-header-cell>
                    <mat-cell *matCellDef="let emploi">{{emploi.groupExcellence.name}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="emploi">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Emplois</mat-header-cell>
                    <mat-cell *matCellDef="let emploi" >
                        <span *ngIf="emploi.type=='image/png'">  <mat-icon>image</mat-icon> <a href="{{emploi.url}}">{{emploi.name}}</a></span>
                        <span  *ngIf="emploi.type=='application/pdf'" ><mat-icon (click)="showDialogPdf()">picture_as_pdf</mat-icon>{{emploi.name}}     </span>
                        <p-dialog header="{{emploi.name}}" [(visible)]="displayPdf" [style]="{width: '65vw', height: '90vh'}">
                            <pdf-viewer src="{{emploi.url}}"
                                        [render-text]="true"
                                        style="display: block;"
                            ></pdf-viewer>
                        </p-dialog>
                       </mat-cell>
                </ng-container>

                <ng-container  matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                    <mat-cell *matCellDef="let emploi">
                        <button *ngIf="!this.role.includes('ROLE_STUDENT') && !this.role.includes('ROLE_PARENT')"  mat-icon-button color="primary"
                                (click)="editEmploi(emploi)">
                            <mat-icon>
                                create
                            </mat-icon>
                        </button>&nbsp;
                        <button *ngIf="!this.role.includes('ROLE_STUDENT') && !this.role.includes('ROLE_PARENT')"  mat-icon-button color="warn"
                                type="button"
                                (click)="deleteEmploi(emploi.idSchedule)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
            </mat-table>
            <div class="mat-table__message" *ngIf="hasItems" >Attendez s'il vous plaît....</div>
        </div>

        <!-- start: BOTTOM -->
        <div class="mat-table__bottom">
            <!-- MATERIAL SPINNER | Url: 'https://material.angular.io/components/progress-spinner/overview' -->
            <mat-spinner [diameter]="20" *ngIf="hasItems"></mat-spinner>
            <!-- MATERIAL PAGINATOR | Binded to dasources -->
            <!-- See off.documentations 'https://material.angular.io/components/paginator/overview' -->
            <mat-paginator [pageSizeOptions]="[2, 3, 5, 10]" [pageSize]="5" showFirstLastButtons></mat-paginator>
        </div>

        <!-- end: BOTTOM -->
    </kt-portlet-body>
    <!-- end::Body -->
</kt-portlet>

