<div class="row mt-1 mr-1 ml-1">
    <div class="col-md-12">
        <input  class="form-control" type="file" (change)="selectFileX($event)">
    </div>
</div>

<div class="row mt-1 mr-1 ml-1 mb-1">
    <div class="col-md-12">
        <p-table [value]="notes">
            <ng-template pTemplate="header">
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Niveau</th>
                    <th>Groupe</th>
                    <th>Cours</th>
                    <th>Professeur</th>
                    <th>Note</th>
                    <th>Remarque</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-note>
                <tr>
                    <td>{{note.student?.firstName}}</td>
                    <td>{{note.student?.lastName}}</td>
                    <td>{{note.student?.level.label}}</td>
                    <td>{{note.student?.groupExcellence?.name}}</td>
                    <td>{{note.course?.courseName}}</td>
                    <td>{{note.course?.teacher.lastName + ' ' +note.course.teacher.firstName}}</td>
                    <td>{{note.note }}</td>
                    <td>{{note.remarque}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
