<div class="kt-portlet">
    <div class="kt-portlet__head kt-portlet__head__custom">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">Ajouter un emploi du temps</h3>
        </div>
    </div>
    <div >
        <div class="kt-form">
            <div class="kt-portlet__body">
                <form [formGroup]="form" novalidate>
                <div class="kt-portlet__body-progress">
                    <mat-spinner [diameter]="20"></mat-spinner>
                </div>

                <div class="form-group kt-form__group row d-block">
                    <div class="col-lg-4 kt-margin-bottom-20-mobile">
                            <label>
                                <span>Groupe</span>
                            </label>
                            <mat-select formControlName="group" >
                                <mat-option *ngFor="let c of cours"  [value]="c.idGroup"
                                >{{c.name}}</mat-option>
                            </mat-select>

                        <br> <br>
                            <label>
                                <span>Selectionner fichier </span>
                            </label>
                            <input type="file" (change)="selectFile($event)"/>

                    </div>
                    <br>

                </div>
                </form>
            </div>

            <div class="kt-portlet__foot kt-portlet__foot--fit kt-portlet__no-border">
                <div class="kt-form__actions kt-form__actions--solid">
                    <div class="row text-right">
                        <div class="col-lg-12">
                            <button type="button" mat-raised-button [mat-dialog-close]="data.animal"  cdkFocusInitial matTooltip="Cancel changes">
                                Retour
                            </button>&nbsp;
                            <button type="submit" [disabled]="!form.valid"  mat-raised-button color="primary" (click)="onSubmit()"  matTooltip="Save changes">
                                Enregistrer
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
