<!--<div class="kt-portlet" >
    <div class="kt-portlet__head kt-portlet__head__custom">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">Insérer des fichiers  </h3>
        </div>
    </div>
    <div>

        <div class="kt-form">
            <form [formGroup]="formGroup" novalidate>
            <div class="kt-portlet__body">

                    <div class="kt-portlet__body-progress">
                        <mat-spinner [diameter]="20"></mat-spinner>
                    </div>


                    <div class="form-group kt-form__group row d-block">
                        <label class="btn btn-default">
                            <input   type="file" (change)="selectFile($event)">
                        </label>
                    </div>
                </div>
                <div class="kt-portlet__foot kt-portlet__foot--fit kt-portlet__no-border">
                    <div class="kt-form__actions kt-form__actions--solid">
                        <div class="row text-right">
                            <div class="col-lg-12">
                                <button type="button" mat-raised-button [mat-dialog-close]="data.animal" cdkFocusInitial matTooltip="Cancel changes">
                                    Retour
                                </button>&nbsp;
                                <button type="submit" [disabled]="!formGroup.valid"   mat-raised-button color="primary" (click)="upload()" >
                                    Upload
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
-->