<!--begin::Form-->
	<form  [formGroup]="changePasswordForm" class="kt-form kt-form--group-seperator-dashed">

		<kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000" (close)="onAlertClose($event)">
			Oh snap! Password not match.
		</kt-alert>
		<div class="kt-form__section kt-form__section--first">
			<div class="form-group kt-form__group row mb-0">
				<div class="col-lg-8 kt-margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid">
						<input matInput type="password" id="password" autocomplete="off" placeholder="Entrer mot de passe " formControlName="password" />
						<mat-error>Mot de passe  est
							<strong>obligatoire</strong>
						</mat-error>
					<!--	<mat-hint align="start">Please enter
							<strong>Password</strong>
						</mat-hint>-->
					</mat-form-field>
				</div>
			</div>
		<div class="form-group kt-form__group row">
				<div class="col-lg-8 kt-margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid">
						<input matInput type="password" id="confirmPassword" autocomplete="off" placeholder="Confirmer mot de passe" formControlName="confirmPassword" />
						<mat-error>Confirmation de mot de passe  est
							<strong>obligatoire</strong>
						</mat-error>
					<!--	&lt;!&ndash;<mat-hint align="start">Please conirm
							<strong>Password</strong>
						</mat-hint>&ndash;&gt;-->
					</mat-form-field>
				</div>
			</div>
		</div>
		<div class="kt-separator kt-separator--dashed"></div>
		<div class="kt-form__actions kt-form__actions--solid">
			<button type="button"  mat-raised-button color="primary" (click)="onSubmit()" >
				Confirmer mot de passe
			</button>
		</div>
	</form>
<!--end::Form-->
