<div class="kt-portlet" [ngClass]="{ 'kt-portlet--body-progress' : viewLoading, 'kt-portlet--body-progress-overlay' : loadingAfterSubmit }">
	<div class="kt-portlet__head kt-portlet__head__custom">
		<div class="kt-portlet__head-label">
			<h3 class="kt-portlet__head-title">Créer un cours </h3>
		</div>
	</div>
	<div>
		<div class="kt-form">
			<form action="" [formGroup]="form">
				<div class="kt-portlet__body">

					<div class="kt-portlet__body-progress">
						<mat-spinner [diameter]="20"></mat-spinner>
					</div>

					<kt-alert *ngIf="hasFormErrors" type="warn" [duration]="30000" [showCloseButton]="true" (close)="onAlertClose($event)">
						Oh snap! Change a few things up and try submitting again.
					</kt-alert>

					<div class="form-group kt-form__group row d-block">
						<div class="col-lg-4 kt-margin-bottom-20-mobile">
							<mat-form-field class="mat-form-field-fluid">
								<input matInput  formControlName="courseName"
									   placeholder="Nom du cours"
								/>
								<mat-error>Nom du cours  est
									<strong>obligatoire</strong>
								</mat-error>
								<!-- <mat-hint align="start">Please enter
									 <strong>Titre</strong>
								 </mat-hint>-->
							</mat-form-field>
							<br>
							<label>
								<span>Matiere</span>
							</label>
							<mat-select formControlName="subject" >
								<mat-option *ngFor="let c of subjects|async"  [value]="c.idSubject" >{{c.subjectName}}</mat-option>
							</mat-select>

						</div>
					</div>
				</div>
				<div class="kt-portlet__foot kt-portlet__foot--fit kt-portlet__no-border">
					<div class="kt-form__actions kt-form__actions--solid">
						<div class="row text-right">
							<div class="col-lg-12">
								<button type="button" mat-raised-button [mat-dialog-close]="data.animal" cdkFocusInitial matTooltip="Cancel changes">
									Retour
								</button>&nbsp;
								<button type="submit" [disabled]="!form.valid"   mat-raised-button color="primary" (click)="onSubmit()">
									Enregistrer
								</button>

							</div>
						</div>
					</div>
				</div>
			</form>
		</div>

	</div>
</div>
