<!--begin::Head-->
<div class="kt-login__head">
	<span class="kt-login__signup-label"></span>&nbsp;&nbsp;
</div>
<!--end::Head-->

<!--begin::Body-->
<div class="kt-login__body">
	<!--begin::Signin-->
	<div class="kt-login__form">
		<div class="kt-login__title">
			<h3>Se connecter </h3>
		</div>



		<!--begin::Form-->

		<form class="kt-form"   [formGroup]="loginForm" autocomplete="off"  novalidate >
			<div class="form-group">
				<mat-form-field>
					<mat-label>Username</mat-label>
					<input matInput placeholder="username" formControlName="username" autocomplete="off"/>
					<mat-error *ngIf="isControlHasError('username','required')">
						<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
					</mat-error>
					<mat-error *ngIf="isControlHasError('username','username')">
						<strong>{{ 'AUTH.VALIDATION.INVALID_FIELD' | translate }}</strong>
					</mat-error>
					<mat-error *ngIf="isControlHasError('username','minlength')">
						<strong>{{ 'AUTH.VALIDATION.MIN_LENGTH_FIELD' | translate }} 3</strong>
					</mat-error>
					<mat-error *ngIf="isControlHasError('username','maxlength')">
						<strong>{{ 'AUTH.VALIDATION.MAX_LENGTH_FIELD' | translate }} 320</strong>
					</mat-error>
				</mat-form-field>
			</div>
			<div class="form-group">
				<mat-form-field>
					<mat-label>mot de passe</mat-label>
					<input matInput type="password" formControlName="password" autocomplete="off"/>
					<mat-error *ngIf="isControlHasError('password','required')">
						<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
					</mat-error>
					<mat-error *ngIf="isControlHasError('password','minlength')">
						<strong>{{ 'AUTH.VALIDATION.MIN_LENGTH_FIELD' | translate }} 3</strong>
					</mat-error>
					<mat-error *ngIf="isControlHasError('password','maxlength')">
						<strong>{{ 'AUTH.VALIDATION.MAX_LENGTH_FIELD' | translate }} 100</strong>
					</mat-error>
				</mat-form-field>
			</div>
			<!--begin::Action-->
			<div class="kt-login__actions">
				<a href="javascript:;" routerLink="/forgot-password" class="kt-link kt-login__link-forgot">
					mot de passe oublié
				</a>
				<button (click)="submit()" [disabled]="loginForm.invalid" [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}" id="kt_login_signin_submit" class="btn btn-primary btn-elevate kt-login__btn-primary" >Se connecter </button>
			</div>
			<div class="form-group">
				<div
						class="alert alert-danger"
						role="alert"
						*ngIf="isLoginFailed && loginForm.valid" >
					Login échoué
				</div>
			</div>
			<!--end::Action-->
		</form>
		<!--end::Form-->
		<!--begin::Divider-->
		<!--end::Divider-->


	<!--end::Signin-->
</div>
<!--end::Body-->
</div>