<kt-portlet>
    <!-- PORTLET LOADING | Binded to TABLE Datasource -->
    <!-- See prop => '~/core/_crud/models/data-sources/_base.datasource.ts' (loading$) -->
    <kt-portlet-header [title]="'Notes list'" [class]="'kt-portlet__head--lg'" >
        <ng-container ktPortletTools>
            <div style="float: right">
                <button mat-raised-button (click)="addCours()">
                    <mat-icon> add</mat-icon>
                    Ajout des notes
                </button>
                <button mat-raised-button (click)="importFromExcel()">
                    <mat-icon> add</mat-icon>
                        import from excel
                    </button>
            </div>
        </ng-container>
    </kt-portlet-header>
    <!-- end::Header -->

    <!-- start::Body (attribute: ktPortletBody) -->
    <kt-portlet-body>
        <!-- start::FILTERS & GROUP ACTIONS -->
        <div class="kt-form kt-margin-b-30">
            <!-- start::FILTERS -->
            <div class="kt-form__filtration">
                <div class="row align-items-center">
                    <div class="col-md-2 kt-margin-bottom-10-mobile">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput [(ngModel)]="searchKey" placeholder="Chercher" autoComplete="off" (keyup)="applyFilter()">
                            <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
                                <mat-icon>close</mat-icon>
                            </button>
                            <mat-hint align="start">
                        </mat-hint>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <!-- end::FILTERS -->

            <!-- start::GROUP ACTIONS -->
            <!-- Group actions list: 'Delete selected' | 'Fetch selected' | 'Update status for selected' -->
            <!-- Group actions are shared for all LISTS -->
            <div class="row align-items-center collapse kt-form__group-actions kt-margin-top-20 kt-margin-bottom-20"
                 [ngClass]="{'show' : selection.selected.length > 0}"><!-- We show 'Group Actions' div if smth are selected -->
                <div class="col-xl-12">
                    <div class="kt-form__group kt-form__group--inline">
                        <div class="kt-form__label kt-form__label-no-wrap">
                            <label class="kt--font-bold kt-font-danger-">
                                <span translate="ECOMMERCE.COMMON.SELECTED_RECORDS_COUNT"></span> {{ selection.selected.length }}
                            </label>
                            <!-- selectedCountsTitle => function from codeBehind (users-list.component.ts file) -->
                            <!-- selectedCountsTitle => just returns title of selected items count -->
                            <!-- for example: Selected records count: 4 -->
                        </div>
                        <div class="kt-form__control kt-form__group--inline">
                            <button (click)="fetchUsers()" mat-raised-button matTooltip="Fetch selected users"  class="mat-button-mt-4">
                                <mat-icon>Tous Effacer</mat-icon>
                                Fetch Selected
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end::GROUP ACTIONS -->
        </div>
        <!-- end::FILTERS & GROUP ACTIONS -->

        <!-- MATERIAL TABLE | Binded to datasources -->
        <!-- See off.documentations 'https://material.angular.io/components/table/overview' -->
        <!--  <div class="mat-table__wrapper">
             <mat-table class="lmat-elevation-z8"
                        #table
                        [dataSource]="listData"
                        matSort
                        matSortActive="id"
                        matSortDirection="asc"
                        matSortDisableClear>
                 <ng-container matColumnDef="select">
                     <mat-header-cell *matHeaderCellDef class="mat-column-checkbox">
                         <mat-checkbox (change)="$event ? masterToggle() : null"
                                       [checked]="selection.hasValue() && isAllSelected()"
                                       [indeterminate]="selection.hasValue() && !isAllSelected()">
                         </mat-checkbox>
                     </mat-header-cell>
                     <mat-cell *matCellDef="let row" class="mat-column-checkbox">
                         <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                         </mat-checkbox>
                     </mat-cell>
                 </ng-container>

                 <ng-container matColumnDef="Course">
                     <mat-header-cell *matHeaderCellDef mat-sort-header>Cours</mat-header-cell>
                     <mat-cell *matCellDef="let user">{{user.course}}</mat-cell>
                 </ng-container>

                 <ng-container matColumnDef="Note">
                     <mat-header-cell *matHeaderCellDef mat-sort-header>Note</mat-header-cell>
                     <mat-cell *matCellDef="let user">{{user.note}}</mat-cell>
                 </ng-container>

                 <ng-container matColumnDef="remarque">
                     <mat-header-cell *matHeaderCellDef mat-sort-header>Remarque</mat-header-cell>
                     <mat-cell *matCellDef="let user"></mat-cell>
                 </ng-container>



                 <ng-container matColumnDef="actions">
                     <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                     <mat-cell *matCellDef="let user  ">
                         <button (click)="editUser(user.idUser)" mat-icon-button color="primary" matTooltip="Edit user">
                             <mat-icon>create</mat-icon>
                         </button>&nbsp;
                         <button mat-icon-button color="warn" matTooltip="Delete user" type="button" (click)="deleteUser(user.idUser)">
                             <mat-icon>delete</mat-icon>
                         </button>
                     </mat-cell>
                 </ng-container>

                 <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                 <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
             </mat-table>
             <div class="mat-table__message" *ngIf="hasItems" >Attendez s'il vous plaît....</div>
             <div class="mat-table__message" [style.visibility]="(!hasItems && listData?.data.length==0) ? 'visible' : 'hidden' " >Aucune note n'est trouvée</div><!-- Message for empty data
        </div> -->

        <div class="row mb-1 mt-1">
            <div class="col-md-2">
                <mat-select placeholder="Cours" [(ngModel)]="selectedCourse" (selectionChange)="courseChanged()">
                    <mat-option [value]="course.idCourse" *ngFor="let course of courses">{{course.courseName}}</mat-option>
                </mat-select>
            </div>
        </div>
        <p-table [value]="students" dataKey="lastName" editMode="row">
            <ng-template pTemplate="header">
                <tr>
                    <th>Nom</th>
                    <th>Prénpm</th>
                    <th>Note</th>
                    <th>Remarque</th>
                    <th style="width:8em"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
                <tr [pEditableRow]="rowData">
                    <td>
                        {{rowData.lastName}}
                    </td>
                    <td>
                        {{rowData.firstName}}
                    </td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="rowData.note">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData.note}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="rowData.remarque" required>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData.remarque}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td style="text-align:center">
                        <button *ngIf="!editing" pButton type="button" pInitEditableRow  class="button-icon" (click)="onRowEditInit(rowData)">
                            <i class="pi pi-pencil"></i>
                        </button>
                        <button *ngIf="editing" pButton type="button" pSaveEditableRow class="button-icon" style="margin-right: .5em" (click)="onRowEditSave(rowData)">
                            <i class="pi pi-check"></i>
                        </button>
                        <button *ngIf="editing" pButton type="button" pCancelEditableRow class="button-icon" (click)="onRowEditCancel(rowData, ri)">
                            <i class="pi pi-times"></i>
                        </button>
                    </td>
                </tr>
            </ng-template>
        </p-table>


        <!-- start: BOTTOM -->
        <div class="mat-table__bottom">
            <!-- MATERIAL SPINNER | Url: 'https://material.angular.io/components/progress-spinner/overview' -->
            <mat-spinner [diameter]="20" *ngIf="hasItems"></mat-spinner>
            <!-- MATERIAL PAGINATOR | Binded to dasources -->
            <!-- See off.documentations 'https://material.angular.io/components/paginator/overview' -->
            <mat-paginator [pageSizeOptions]="[2, 3, 5, 10]" [pageSize]="5" showFirstLastButtons></mat-paginator>
        </div>
        <!-- end: BOTTOM -->
    </kt-portlet-body>
    <!-- end::Body -->
</kt-portlet>
