<div class="kt-portlet">
    <div class="kt-portlet__head kt-portlet__head__custom">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">Modifier un emploi du temps</h3>
        </div>
    </div>
    <div >
        <div class="kt-form">
            <form [formGroup]="form">

            <div class="kt-portlet__foot kt-portlet__foot--fit kt-portlet__no-border">
                <div class="kt-form__actions kt-form__actions--solid">
                    <div class="row text-right">
                        <div class="col-lg-12">
                            <button mat-button style="margin-right:65%;" (click)="openBottomSheet()"><mat-icon>attach_file</mat-icon>Ajouter</button>
                            <button type="button" mat-raised-button [mat-dialog-close]="data.animal"  cdkFocusInitial matTooltip="Cancel changes">
                                Retour
                            </button>&nbsp;
                            <button type="button"  mat-raised-button color="primary" (click)="onSubmit()"  matTooltip="Save changes">
                                Enregistrer
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
