
<kt-portlet>
    <!-- PORTLET LOADING | Binded to TABLE Datasource -->
    <!-- See prop => '~/core/_crud/models/data-sources/_base.datasource.ts' (loading$) -->
    <kt-portlet-header [title]="'Liste des matières'" [class]="'kt-portlet__head--lg'">

        <ng-container *ngIf="!this.role.includes('ROLE_STUDENT') && !this.role.includes('ROLE_PARENT')"  ktPortletTools>
            <button  mat-raised-button (click)="addSubject()" color="primary" type="button">
                <span>Ajouter une matière</span>
            </button>
            <!-- Buttons (Material Angular) | See off.documenations 'https://material.angular.io/components/button/overview' -->
            <!-- mat-raised-button | Rectangular contained button w/ elevation  -->
        </ng-container>
    </kt-portlet-header>
    <!-- end::Header -->

    <kt-portlet-body>
        <div class="mat-table__wrapper">
            <mat-table class="lmat-elevation-z8"
                       #table
                       [dataSource]="listData"
                       matSort>

                <ng-container matColumnDef="matiere">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Matière</mat-header-cell>
                    <mat-cell *matCellDef="let subject">{{subject.subjectName}} </mat-cell>
                </ng-container>
                <ng-container  matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                    <mat-cell *matCellDef="let subject">
                        <button *ngIf="!this.role.includes('ROLE_STUDENT') && !this.role.includes('ROLE_PARENT')"  mat-icon-button color="primary"
                                (click)="editSubject(subject)">
                            <mat-icon>
                                create
                            </mat-icon>
                        </button>&nbsp;
                        <button *ngIf="!this.role.includes('ROLE_STUDENT') && !this.role.includes('ROLE_PARENT')"  mat-icon-button color="warn"
                                type="button"
                                (click)="deleteSubject(subject.idSubject)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
            </mat-table>
            <div class="mat-table__message" *ngIf="hasItems" >Attendez s'il vous plaît....</div>
        </div>

        <!-- start: BOTTOM -->
        <div class="mat-table__bottom">
            <!-- MATERIAL SPINNER | Url: 'https://material.angular.io/components/progress-spinner/overview' -->
            <mat-spinner [diameter]="20" *ngIf="hasItems"></mat-spinner>
            <!-- MATERIAL PAGINATOR | Binded to dasources -->
            <!-- See off.documentations 'https://material.angular.io/components/paginator/overview' -->
            <mat-paginator [pageSizeOptions]="[2, 3, 5, 10]" [pageSize]="5" showFirstLastButtons></mat-paginator>
        </div>

        <!-- end: BOTTOM -->
    </kt-portlet-body>
    <!-- end::Body -->
</kt-portlet>

