<section class="container">

    <article class="row pt-3">
        <div class="col">
            <h2>Local</h2>
            <div id="agora_local" class="local"></div>
        </div>
        <div class="col">
            <h2>Distant</h2>
            <div class="remote_calls" [id]="remoteCalls[0]" class="remote"></div>
        </div>
    </article>

</section>