<div class="animated fadeIn" >
	<div  *ngIf="this.role.includes('ROLE_ADMIN')" class="search-div">
		<button style="margin-left:85%" mat-raised-button (click)="addForum()">
			<mat-icon> add</mat-icon>
			Créer un  forum
		</button>

	</div>

	<div class="row" style="margin-top:2%" >
		<div class="col-sm-4" *ngFor="let c of forums " >
			<kt-material-preview [viewItem]="exampleCardWithTitle">
				<mat-card  routerLink="{{c.idForum}}/cours/">

					<mat-card-title>Forum  :{{c.forumName}}  </mat-card-title>

					<mat-card-content *ngIf="this.role.includes('ROLE_ADMIN')"><a (click)="edit(c) " class="float" style="
          position: absolute;
          width: 30px;
          height: 30px;
          bottom: 50px;
          right: -10px;
          background-color:#0C9;
          color:#FFF;
          border-radius:50px;
          text-align:center;
          box-shadow: 2px 2px 3px #999;
      ">
						<i class="fa fa-edit my-float" style="
          margin-top: 10px;
          margin-left: 5px;
      "></i>
					</a></mat-card-content>
				</mat-card>
				<div class="kt-separator kt-separator--dashed"></div>
				<mat-card-footer>
					<mat-icon  *ngIf="!this.role.includes('ROLE_PARENT')" style="margin-left:75%;" (click)="inviteUser(c.idForum) ">person_add</mat-icon>
					<mat-icon  *ngIf="this.role.includes('ROLE_ADMIN')"  (click)="delete(c.idForum)">delete</mat-icon>
				</mat-card-footer>
			</kt-material-preview>
		</div>
	</div>
</div>
