<div class="kt-portlet" [ngClass]="{ 'kt-portlet--body-progress' : viewLoading, 'kt-portlet--body-progress-overlay' : loadingAfterSubmit }">
    <div class="kt-portlet__head kt-portlet__head__custom">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">Modifier forum </h3>
        </div>
    </div>
    <div>
        <div class="kt-form">
                <div class="kt-portlet__body">

                    <div class="kt-portlet__body-progress">
                        <mat-spinner [diameter]="20"></mat-spinner>
                    </div>

                    <kt-alert *ngIf="hasFormErrors" type="warn" [duration]="30000" [showCloseButton]="true" (close)="onAlertClose($event)">
                        Oh snap! Change a few things up and try submitting again.
                    </kt-alert>

                    <div class="form-group kt-form__group row d-block">
                        <div class="col-lg-4 kt-margin-bottom-20-mobile">
                            <mat-form-field class="mat-form-field-fluid">
                                <input matInput  [(ngModel)]="data.name"
                                       placeholder="Nom du forum"
                                />
                                <mat-error>Nom du forum   est
                                    <strong>obligatoire</strong>
                                </mat-error>
                                <!-- <mat-hint align="start">Please enter
                                     <strong>Titre</strong>
                                 </mat-hint>-->
                            </mat-form-field>

                        </div>
                    </div>
                </div>
                <div class="kt-portlet__foot kt-portlet__foot--fit kt-portlet__no-border">
                    <div class="kt-form__actions kt-form__actions--solid">
                        <div class="row text-right">
                            <div class="col-lg-12">
                                <button type="button" mat-raised-button [mat-dialog-close]="data.animal" cdkFocusInitial matTooltip="Cancel changes">
                                    Retour
                                </button>&nbsp;
                                <button type="button"  mat-raised-button color="primary"  routerLink="../admin/forums/forum" (click)="onSubmit()">
                                    Modifier
                                </button>

                            </div>
                        </div>
                    </div>
                </div>

        </div>

    </div>
</div>
