<kt-portlet>
    <kt-portlet-header [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
        <ng-container ktPortletTools>
            <a [routerLink]="['../']" class="btn btn-secondary kt-margin-r-10" mat-raised-button matTooltip="Retour">
                <i class="la la-arrow-left"></i>
                <span class="kt-hidden-mobile">Retour</span>
            </a>
            <a  class="btn btn-secondary kt-margin-r-10" (click)="reset()" [disabled]="selectedTab !== 0" mat-raised-button matTooltip="Réinitialiser">
                <i class="la la-cog"></i>
                <span class="kt-hidden-mobile">Réinitialiser</span>
            </a>
            <a  class="btn btn-primary kt-margin-r-10" color="primary" (click)="Sumbit(false)" mat-raised-button matTooltip="Enregistrer">
                <span class="kt-hidden-mobile">Enregistrer</span>
            </a>

        </ng-container>
    </kt-portlet-header>

    <kt-portlet-body>
        <mat-tab-group [(selectedIndex)]="selectedTab">
            <mat-tab>
                <ng-template mat-tab-label>
                    <i class="mat-tab-label-icon fa fa-user"></i>
                    Informations
                </ng-template>
                <ng-template matTabContent>
                    <!--begin::Form-->
                    <div >
                        <form [formGroup]="userForm" class="kt-form kt-form--group-seperator-dashed">

                            <kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000" (close)="onAlertClose($event)">
                                Oh snap! Change a few things up and try submitting again.
                            </kt-alert>
                            <div class="kt-form__section kt-form__section--first">
                                <div class="form-group kt-form__group row">
                                    <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input matInput placeholder="Entrer Username" formControlName="username"/>
                                            <mat-error>Username est
                                                <strong>obligatoire</strong>
                                            </mat-error>
                                            <!--<mat-hint align="start">Svp entrer
                                                <strong>Username</strong>
                                            </mat-hint>-->
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input matInput placeholder="Entrer nom " formControlName="lastName"/>
                                            <mat-error>Nom est
                                                <strong>obligatoire</strong>
                                            </mat-error>
                                            <!--<mat-hint align="start">Please enter
                                                <strong>Full Name</strong>
                                            </mat-hint>-->
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input matInput placeholder="Entrer  prénom " formControlName="firstName"/>
                                            <mat-error>Prénom est
                                                <strong>obligatoire</strong>
                                            </mat-error>
                                            <!--<mat-hint align="start">Please enter
                                                <strong>Full Name</strong>
                                            </mat-hint>-->
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="form-group kt-form__group row">
                                    <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input type="email" matInput placeholder="Entrer Email" formControlName="email"/>
                                            <mat-error>Email est
                                                <strong>obligatoire</strong>
                                            </mat-error>
                                            <!--<mat-hint align="start">Please enter
                                                <strong>Email</strong>
                                            </mat-hint>-->
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input matInput placeholder="Entrer adresse" formControlName="address"/>
                                            <!--<mat-hint align="start">Please enter
                                                <strong>Company Name</strong>
                                            </mat-hint>-->
                                        </mat-form-field>
                                    </div>

                                    <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input matInput placeholder="Entrer numéro de téléphone" formControlName="phoneNumber"/>
                                            <!--<mat-hint align="start">Please enter
                                                <strong>Phone</strong>
                                            </mat-hint>-->
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="form-group kt-form__group row">
                                    <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input matInput placeholder="Entrer Occupation" formControlName="occupation"/>
                                            <!--<mat-hint align="start">Please enter
                                                <strong>Occupation</strong>
                                            </mat-hint>-->
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!--end::Form-->
                </ng-template>
            </mat-tab>
            <mat-tab >
                <ng-template mat-tab-label>
                    <i class="mat-tab-label-icon fa fa-unlock"></i>
                    Roles
                </ng-template>
                <ng-template matTabContent>
                    <kt-user-roles-list [(rolesSubject)]="rolesSubject"></kt-user-roles-list>
                </ng-template>
            </mat-tab>
            <mat-tab  >
                <ng-template mat-tab-label>
                    <i class="mat-tab-label-icon fa fa-exchange-alt"></i>
                    Mot de passe
                </ng-template>
                <ng-template matTabContent>
                    <kt-change-password  [(mdpSubject)]="mdpSubject"></kt-change-password>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </kt-portlet-body>
</kt-portlet>
