.example-header-image {
  background-image: url('../../../assets/Psychology.jpg');
  background-size: cover;
}
.example-card {
  max-width: 50px;
}
.box2 {
  display: inline;
}

.flex-container {
  display: flex;
  margin: 10px;
}
.flex-container2 {
  display: flex;
  margin: 5px;
}
.icon {
  font-weight: 300;
  font-size: 30px;
  height: 37px;
  width: 24px;
}