<div class="animated fadeIn">
	<div class="row"  >


		<div class="col-lg-12">
			<div class="card" >
				<div class="card-header" style="background-image:url('../../../assets/Psychology.jpg');
height: 50px;" >
					<b style="color:white"> Theme :{{ this.result.subject?.subjectName}}</b>
					<div class="kt-separator kt-separator--dashed"></div>
				</div>
				<div  [formGroup]="form" class="card-body" style="height: 600px; overflow-y: auto;background-color: #F5F5F5"  >
											<mat-accordion *ngIf="!this.role.includes('ROLE_PARENT')">
                                            <mat-expansion-panel [expanded]="panelOpenState">
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title>
                                                        <mat-icon>account_circle</mat-icon>	{{ this.username}}
                                                    </mat-panel-title>
                                                    <mat-panel-description>
                                                        Posez votre question ou donnez votre avis  ...
                                                    </mat-panel-description>
                                                </mat-expansion-panel-header>
												<textarea type="text"  placeholder="Posez votre question "  formControlName="question" class="md-textarea form-control"  matInput></textarea>
                                                <mat-action-row>
                                                    <button mat-button style="margin-right:75%;" (click)="openBottomSheet()"><mat-icon>attach_file</mat-icon>Ajouter</button>
                                                    <button mat-button color="secondary" (click)="togglePanel()">Annuler</button>
                                                    <button mat-button color="primary" (click)="Add()">Publier</button>
                                                </mat-action-row>
                                            </mat-expansion-panel>
                                        </mat-accordion>

					<br> <br>
					<div *ngFor="let q of allQst" >
						<mat-accordion>
					        <mat-card>
								<div class="box2">
									<div style="padding-left: 97%" ngbDropdown>
										<mat-icon  ngbDropdownToggle>more_vert</mat-icon>
										<div ngbDropdownMenu>
											<button *ngIf="q.user?.idUser==this.id2" (click)="editQst(q)" ngbDropdownItem>Modifier</button>
											<button *ngIf="this.role.includes('ROLE_ADMIN') || q.user?.idUser==this.id2 " ngbDropdownItem (click)="deleteQst(q.idQuestion)">Supprimer</button>
										</div>
									</div>
								<mat-icon>account_circle</mat-icon><b> {{q.user?.username}}</b>
									<br>{{q.dateQuestion | date:'mediumDate'}} {{q.dateQuestion | date:'shortTime'}}
								</div>
						<mat-card-content> {{q.question}} </mat-card-content>
								<mat-card-content *ngIf="q.type=='application/pdf'">
									<mat-icon  (click)="showDialogPdf()">picture_as_pdf</mat-icon>{{q.name}}

									<p-dialog header="{{q.name}}" [(visible)]="displayPdf" [style]="{width: '65vw', height: '90vh'}">
										<pdf-viewer src="{{q.url}}"
													[render-text]="true"
													style="display: block;"
										></pdf-viewer>
									</p-dialog>
								</mat-card-content>
								<mat-card-content *ngIf="q.type=='image/png'">
									<img src="{{q.url}}" width="500px" height="200px"/>
								</mat-card-content>
						<div class="kt-separator kt-separator--border-2x"></div>
							<div><mat-accordion>
								<mat-panel-description  style="color:#ef4fa6">
									<mat-icon >keyboard_arrow_right</mat-icon> <b> {{q.answers?.length}} Commentaires ajoutés </b>
								</mat-panel-description>
									<br>
                                            <div *ngFor="let a of q.answers" style="background-color: #FAFAFA" >
											<b> <mat-icon>account_circle</mat-icon> </b> &nbsp;	<b>	{{a.user?.lastName}}  </b>		&nbsp; 	 {{a.dateAnswer | date:'mediumDate'}} {{a.dateAnswer | date:'shortTime'}}
											<div style="padding-left: 97%" ngbDropdown>
												<mat-icon  ngbDropdownToggle>more_vert</mat-icon>
												<div  ngbDropdownMenu>
													<button *ngIf="a.user?.idUser==this.id2" (click)="editAnswer(a)" ngbDropdownItem>Modifier</button>
													<button  *ngIf="a.user?.idUser==this.id2 || this.role.includes('ROLE_ADMIN')" ngbDropdownItem (click)="deleteAnswer(a.idAnswer)">Supprimer</button>
												</div>
											</div>
											<mat-card-content>  {{a.answer}} </mat-card-content>
											<mat-card-content *ngIf="a.type=='application/pdf'">
												<div  (click)="showDialogPdf()"><mat-icon>picture_as_pdf</mat-icon>{{a.name}} </div>

												<p-dialog header="{{a.name}}" [(visible)]="displayPdf" [style]="{width: '65vw', height: '90vh'}">
													<pdf-viewer src="{{a.url}}"
																[render-text]="true"
																style="display: block;"
													></pdf-viewer>
												</p-dialog>
											</mat-card-content>
											<mat-card-content *ngIf="a.type=='image/png'">
												<img src="{{a.url}}" 	width="500px" height="200px"/>
											</mat-card-content>
											<div class="kt-separator kt-separator--border-dashed"></div>
										</div>

								</mat-accordion>
							</div>

								<div class="kt-separator kt-separator--border-2x"></div>
						<mat-card-content class="flex-container" *ngIf="!this.role.includes('ROLE_PARENT')">
							<div class="flex-container2">
								<mat-icon>account_circle</mat-icon> <b>{{ this.username}}</b>
							</div>
							<input  type="text" placeholder="Ajouter un commentaire ... "  formControlName="answer" class="md-textarea form-control"  matInput>

								<div class="flex-container">
								<mat-icon (click)="openBottomSheet()" >attach_file</mat-icon>
									<mat-icon (click)="Answer(q.idQuestion)">send</mat-icon>
								</div>
						</mat-card-content>
					</mat-card>
						</mat-accordion>
						<br> <br>
				</div>
					<br> <br>
			</div>
			</div>
		</div>
	</div>
</div>
