<div class="kt-portlet" [ngClass]="{ 'kt-portlet--body-progress' : viewLoading, 'kt-portlet--body-progress-overlay' : loadingAfterSubmit }" style="margin: 10px 10px 10px 10px  !important;">
    <div class="kt-portlet__head kt-portlet__head__custom">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">Saisir les notes</h3>
        </div>
    </div>
    <div class="row mt-1 mb-1">
        <div class="col-md-3">
            <mat-select placeholder="Groupes" [(ngModel)]="selectedGroupe">
                <mat-option [value]="groupe.idGroup" *ngFor="let groupe of groupes">{{groupe.name}}</mat-option>
            </mat-select>
        </div>
        <div class="col-md-3">
            <mat-select placeholder="Cours" [(ngModel)]="selectedCourse">
            <mat-option [value]="course.idCourse" *ngFor="let course of courses">{{course.courseName}}</mat-option>
        </mat-select>
        </div>
    </div>
    <div>
        <p-table [value]="students">
            <ng-template pTemplate="header">
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Note</th>
                    <th>Remarque</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
                <tr [pEditableRow]="rowData">
                    <td>
                        {{rowData.lastName}}
                    </td>
                    <td>
                        {{rowData.firstName}}
                    </td>
                    <td pEditableColumn>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="rowData.note" required>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData.note}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td pEditableColumn>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="rowData.remarque" required>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData.remarque}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div class="row mt-1">
        <div class="col-md-8"></div>
        <div class="col-md-4">
            <div style="float: right">
                <button type="button"  mat-raised-button color="primary"  (click)="validateNotes()" matTooltip="Enregistrer les modification">
                    Valider
                </button>
            </div>
        </div>
    </div>
</div>
